<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>XWCallKitDemo.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>XWCallKitIntentExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0DC611D61DA6959F00972DF4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0DC611EF1DA6959F00972DF4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0DC611FA1DA6959F00972DF4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0DE8AF7F1DC1D673002CA158</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0DE8AF891DC1D674002CA158</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0DE8AFA61DC1D7EF002CA158</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
